{% if success %}
<div
  id="histogram-section"
  class="content-section {% if current_tab != 'histogram-section' %}hidden{% endif %}"
>
{% if no_numeric %}
<p style="color: red">No numeric columns available for  a histogram plot.</p>
{% else %}
  <h2>Select Variable for Histogram:</h2>
  <form action="/show_histogram" method="POST">
    <select name="column_name">
      {% for column in column_names %}
      <option value="{{ column }}">{{ column }}</option>
      {% endfor %}
    </select>
    <label for="color">Color:</label>
    <select name="color">
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="red">Red</option>
      <option value="orange">Orange</option>
    </select>
    <input type="hidden" name="file_path" value="{{ filename }}" />
    <button type="submit">Show Histogram</button>
  </form>
  {% if histogram_img %}
  <h2>Histogram:</h2>
  <img src="data:image/png;base64,{{ histogram_img }}" alt="Histogram" />
  {% endif %}{% endif %}
</div>

<pre id="histogram-code" style="display: none">
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("{{ filename }}")
df["{{ column_name if column_name else 'your_column' }}"].dropna().hist(bins=20, color="{{ color if color else 'blue' }}", edgecolor='black')
plt.title("Histogram of {{ column_name if column_name else 'your_column' }}")
plt.xlabel("{{ column_name }}")
plt.ylabel('Frequency')
plt.show()
</pre>
{% endif %}
