{% if summary_data %}
<h2>Summary Statistics</h2>
<table class="table">
  <thead>
    <tr>
      <th>Statistic</th>
      <th>{{ col1 }}</th>
      <th>{{ col2 }}</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in summary_data[col1].keys() %}
    <tr>
      <td>{{ stat }}</td>
      <td>{{ summary_data[col1][stat] }}</td>
      <td>{{ summary_data[col2][stat] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Correlation between {{ col1 }} and {{ col2 }}: {{ correlation }}</h3>
{% endif %}
